.peggy-secret-deals-banner-container {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.peggy-secret-deals-banner-container .all-clickable {
  cursor: pointer;
}
.peggy-secret-deals-banner-container.ribbon-top-lef-image {
  background: #fff url("") no-repeat;
}
.peggy-secret-deals-banner-container .peggy-secret-deals-logo img {
  max-height: 76px;
  max-width: 129px;
}
@media (max-width: 768px) {
  .peggy-secret-deals-banner-container .peggy-secret-deals-logo img {
    max-height: 62px;
  }
}
.peggy-secret-deals-banner-container .peggy-secret-deals-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  min-height: 55px;
  padding: 10px 20px;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-discount {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
  white-space: nowrap;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-discount
  .peggy-secret-deals-discount-percentage {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 36px;
  letter-spacing: -1px;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-discount
  .peggy-secret-deals-discount-percentage
  .peggy-percentage-symbol {
  font-size: 23px;
  padding-bottom: 3px;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-texts.adviser {
  line-height: 28px;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-texts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 20px;
  margin-right: 25px;
  padding-left: 15px;
  text-overflow: ellipsis;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-texts
  .peggy-secret-deals-title {
  font-size: 16px;
  font-weight: 700;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-texts
  .peggy-secret-deals-title.adviser {
  font-size: 20px;
  font-weight: 500;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-texts
  .peggy-secret-deals-subtitle {
  font-size: 12px;
  line-height: 20px;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-wrapper-left
  .peggy-secret-deals-texts
  .peggy-secret-deals-subtitle.adviser {
  color: var(--color-gray-2);
  font-size: 16px;
}
@media (max-width: 768px) {
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-wrapper-left
    .peggy-secret-deals-texts
    .peggy-secret-deals-subtitle.adviser {
    font-size: 14px;
  }
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-action {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-action
  .peggy-secret-deals-action-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-action
  a {
  margin-right: 45px;
}
.peggy-secret-deals-banner-container
  .peggy-secret-deals-wrapper
  .peggy-secret-deals-action
  .peggy-secret-deals-line-wrapper {
  display: none;
}
@media (max-width: 768px) {
  .peggy-secret-deals-banner-container {
    background-image: none !important;
  }
  .peggy-secret-deals-banner-container .peggy-secret-deals-wrapper {
    padding: 25px;
  }
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-wrapper-left {
    margin-bottom: 16px;
  }
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action
    .peggy-secret-deals-action-close {
    display: none;
  }
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action
    a {
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-wrapper-left
    .peggy-secret-deals-discount {
    display: none;
  }
}
@media (max-width: 540px) {
  .peggy-secret-deals-banner-container .peggy-secret-deals-wrapper,
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action
    .peggy-secret-deals-line-wrapper {
    bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: -120px;
  }
  .peggy-secret-deals-banner-container.mobile_two_columns
    .peggy-secret-deals-wrapper-left {
    display: block;
  }
  .peggy-secret-deals-banner-container.mobile_two_columns
    .peggy-secret-deals-wrapper-left
    .peggy-secret-deals-texts {
    padding-left: 0;
  }
  .peggy-secret-deals-banner-container.mobile_two_columns
    .peggy-secret-deals-wrapper-left
    .peggy-secret-deals-texts
    .peggy-secret-deals-title {
    padding: 12px 0;
  }
}
@media (max-width: 415px) {
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action
    .peggy-secret-deals-line-wrapper {
    bottom: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: -170px;
  }
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action
    .peggy-secret-deals-line-wrapper.withButton {
    bottom: 4px;
  }
}
@media (max-width: 415px) and (max-width: 390px) {
  .peggy-secret-deals-banner-container
    .peggy-secret-deals-wrapper
    .peggy-secret-deals-action
    .peggy-secret-deals-line-wrapper.withButton {
    bottom: -26px;
  }
}
